* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left top, #0ba89b, #b85274);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-div {
    width: 30%;
    background-color: white;
    padding: 20px 30px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #ccc;
}

form div {
    display: flex;
    align-items: center;
    margin: 10px;
}

.contain {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form-cal div {
    width: 50%;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

.submit {
    margin: auto;
    padding: 10px;
    color: deeppink;
    background-color: lightgray;
    border: none;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: #b10e72;
    padding: 10px 0px;

}

#result,
.res-para {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.res-para {
    color: #056fb6;
}

@media only screen and (min-width:200px) {
    .content-div {
        width: 75%;
        padding: 10px;
    }

    form {
        padding: 0;
    }
}

@media only screen and (min-width:320px) {
    .content-div {
        width: 75%;
    }

    form {
        padding: 0;
    }
}

@media only screen and (min-width:768px) {
    .content-div {
        width: 60%;
    }

    form {
        padding: 0;
    }
}

@media only screen and (min-width:1024px) {
    .content-div {
        width: 30%;
    }

    form {
        padding: 20px;
    }
}